In [46]:
import importlib
import API_CF
importlib.reload(API_CF)

from API_CF import API_CF

In [47]:
CF = API_CF()

In [36]:
problems = CF.get_problems()
problems

,contestId,index,name,type,points,tags,rating
0,2110,F,Faculty,PROGRAMMING,3000.0,"[brute force, math, number theory]",NaN
1,2110,E,Melody,PROGRAMMING,2250.0,"[dfs and similar, graphs, implementation]",NaN
2,2110,D,Fewer Batteries,PROGRAMMING,2000.0,"[binary search, dfs and similar, dp, graphs, g...",NaN
3,2110,C,Racing,PROGRAMMING,1500.0,"[constructive algorithms, greedy]",NaN
4,2110,B,Down with Brackets,PROGRAMMING,750.0,[strings],NaN
...,...,...,...,...,...,...,...
10423,2,B,The least round way,PROGRAMMING,NaN,"[dp, math]",2000.0
10424,2,A,Winner,PROGRAMMING,NaN,"[hashing, implementation]",1500.0
10425,1,C,Ancient Berland Circus,PROGRAMMING,NaN,"[geometry, math]",2100.0
10426,1,B,Spreadsheet,PROGRAMMING,NaN,"[implementation, math]",1600.0
10427,1,A,Theatre Square,PROGRAMMING,NaN,[math],1000.0

In [38]:
st = CF.get_stats()
st

       contestId index  solvedCount
0           2110     F          612
1           2110     E          890
2           2110     D         3948
3           2110     C         8979
4           2110     B        16225
...          ...   ...          ...
10423          2     B        11549
10424          2     A        28360
10425          1     C         5931
10426          1     B        24024
10427          1     A       284403

[10428 rows x 3 columns]

In [48]:
problems = CF.get_problems()

In [49]:
problems

,contestId,index,name,type,points,tags,rating,solvedCount
0,2110,F,Faculty,PROGRAMMING,3000.0,"[brute force, math, number theory]",NaN,612
1,2110,E,Melody,PROGRAMMING,2250.0,"[dfs and similar, graphs, implementation]",NaN,890
2,2110,D,Fewer Batteries,PROGRAMMING,2000.0,"[binary search, dfs and similar, dp, graphs, g...",NaN,3954
3,2110,C,Racing,PROGRAMMING,1500.0,"[constructive algorithms, greedy]",NaN,8984
4,2110,B,Down with Brackets,PROGRAMMING,750.0,[strings],NaN,16232
...,...,...,...,...,...,...,...,...
10423,2,B,The least round way,PROGRAMMING,NaN,"[dp, math]",2000.0,11549
10424,2,A,Winner,PROGRAMMING,NaN,"[hashing, implementation]",1500.0,28360
10425,1,C,Ancient Berland Circus,PROGRAMMING,NaN,"[geometry, math]",2100.0,5931
10426,1,B,Spreadsheet,PROGRAMMING,NaN,"[implementation, math]",1600.0,24024
10427,1,A,Theatre Square,PROGRAMMING,NaN,[math],1000.0,284404